<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>game.GameListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>CreateGame</servlet-name>
        <servlet-class>game.CreateGame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPlayer</servlet-name>
        <servlet-class>game.AddPlayer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRound</servlet-name>
        <servlet-class>game.AddRound</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestion</servlet-name>
        <servlet-class>game.AddQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetGames</servlet-name>
        <servlet-class>game.GetGames</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartGame</servlet-name>
        <servlet-class>game.StartGame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetGameStatus</servlet-name>
        <servlet-class>game.GetGameStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitAnswer</servlet-name>
        <servlet-class>game.SubmitAnswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextQuestion</servlet-name>
        <servlet-class>game.NextQuestion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateGame</servlet-name>
        <url-pattern>/CreateGame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPlayer</servlet-name>
        <url-pattern>/AddPlayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRound</servlet-name>
        <url-pattern>/AddRound</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestion</servlet-name>
        <url-pattern>/AddQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetGames</servlet-name>
        <url-pattern>/GetGames</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartGame</servlet-name>
        <url-pattern>/StartGame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetGameStatus</servlet-name>
        <url-pattern>/GetGameStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitAnswer</servlet-name>
        <url-pattern>/SubmitAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextQuestion</servlet-name>
        <url-pattern>/NextQuestion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
